Импортируем необходимые библиотеки:

In [1]:
import numpy as np
import pandas as pd

# Задание 1
Создадим датафрейм **authors**, состоящий из колонок **author_id** и **author_name** с со следующими данными: __[1, 2, 3]__, __['Тургенев', 'Чехов', 'Островский']__. Следом создадим датафрейм **books** со столбцами **author_id**, **book_title**, **book_price** и загрузим данные: __[1, 1, 1, 2, 2, 3, 3]__, __['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']__, __[450, 300, 350, 500, 450, 370, 290]__

In [21]:
author_ids = [1, 2, 3]
author_names = ['Тургенев', 'Чехов', 'Островский']
columns = ['author_id', 'author_name']

author_names = np.array(author_names)
author_ids = np.array(author_ids)

author_names = author_names.reshape((3, 1))
author_ids = author_ids.reshape((3, 1))

data = np.hstack([author_ids, author_names])

authors = pd.DataFrame(data, columns=columns)
authors.head()

author_ids_for_books = np.array([1, 1, 1, 2, 2, 3, 3])
book_titles =  np.array(['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'])
prices = np.array([450, 300, 350, 500, 450, 370, 290])
columns_for_books = ['author_id', 'book_title', 'book_price']

author_ids_for_books = author_ids_for_books.reshape((7, 1))
book_titles = book_titles.reshape((7, 1))
prices = prices.reshape((7, 1))

data_for_books = np.hstack([author_ids_for_books, book_titles, prices])

books = pd.DataFrame(data_for_books, columns=columns_for_books)

books.head()

  author_id         book_title book_price
0         1        Отцы и дети        450
1         1              Рудин        300
2         1  Дворянское гнездо        350
3         2   Толстый и тонкий        500
4         2    Дама с собачкой        450

# Задание 2
Получим новую таблицу **author_prices**, соединив датафреймы **authors** и **books** по полю __author_id__

In [23]:
author_prices = authors.merge(books, how='inner', on='author_id')
author_prices.head()

  author_id author_name         book_title book_price
0         1    Тургенев        Отцы и дети        450
1         1    Тургенев              Рудин        300
2         1    Тургенев  Дворянское гнездо        350
3         2       Чехов   Толстый и тонкий        500
4         2       Чехов    Дама с собачкой        450

# Задание 3
Создадим датафрейм top_5_books, содержащий в себе самые дорогие книги из **author_prices**

In [30]:
top_5_books = author_prices.sort_values(by='book_price', ascending=False)[0 : 5]
top_5_books.head()

  author_id author_name         book_title book_price
3         2       Чехов   Толстый и тонкий        500
0         1    Тургенев        Отцы и дети        450
4         2       Чехов    Дама с собачкой        450
5         3  Островский              Гроза        370
2         1    Тургенев  Дворянское гнездо        350

# Задание 4
Создадим таблицу author_stats, содержащую 4 столбца: имя автора, минимальная цена его книги, максимальная цена и средняя

In [45]:
author_prices[['book_price']] = author_prices[['book_price']].astype(int)
author_stats = author_prices[['author_name', 'book_price']].groupby(['author_name']).agg(['min', 'max', 'mean'])
author_stats.head()

            book_price
                   min  max        mean
author_name
Островский         290  370  330.000000
Тургенев           300  450  366.666667
Чехов              450  500  475.000000